/* 

@media (min-width:10px) and (max-width:675px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }
    h1,h2 {
        text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
    }
    .fixe p {
        text-shadow: -1px 1px 1px  rgba(153, 150, 150, 0.507);
    }
    body {
        width: 100%;
        
        background-color: rgb(255, 255, 255);
    }
    a {
        text-decoration: none;
        color: black;
        
    }
      
    header {
        width: 100%;
        height: 1500px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dex2 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
  
        top: 10px;

    }
    .mp {
       
        width: 340px;
        height: 500px;
        
        background-color: rgb(189, 36, 36);
        background: url(/static/IMAGE/im4.jpg) 50% no-repeat;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
    .mp1 {
        
        width: 340px;
        
       
       
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        box-shadow: 0.5px 0.5px 5px 0.5px rgb(232, 223, 241);
        flex-direction: column;
    }
   
    #vjk1 {
        margin-bottom: 20px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hea2 {
        height: 12%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        flex-direction: column;
       
    }
    .formulaire {
        height: 73%;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
    }
    .formulaire label{
        font-size: 0.8rem;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 5px;
       
        color: black;

    }
    .formulaire input{
        height: 30px;
        width: 100%;
        background-color: rgba(146, 151, 151, 0.192);
        border: none;
        border-radius: 8px;
        color: black;
        outline: none;
        padding-left: 10px;
        box-shadow: inset 2px 1px 2px 1px rgb(99, 99, 99);
    }
    .formulaire button{
        padding: 15px 50px;
        background-color: black;
        border-radius: 8px;
        color: white;
        border: none;
        margin: 0 auto;
        outline: none;

    }
    .formulaire button:hover{
        padding: 15px 50px;
        background-color:  rgb(255, 0, 0);
        border-radius: 8px;
        color: rgb(255, 255, 255);
        border: none;
        margin: 0 auto;
        outline: none;
    }
       
    

  .pes {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    width: 15%;
    height: 100%;
}
#logo {
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#logo1 {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
}





  

   */





























*{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif; */

}
.a {
    width: 40px;
    height: 40px;
    background-color: aqua;
    color: #ffa500;
}
.b {
    width: 40px;
    height: 40px;
    background-color: red;
}
header {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    /* height: 500px; */
    width: 100%;
    background-color: white;
    overflow-x: hidden;
    
    
    
}

#deuxlogo {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 102, 0, 0.865);
    color: white;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}

form{
    width: 100%;
    max-width: 500px;
    min-height: 600px;
    background-color: white;
    height: 750px;
    margin: 10px auto;
}


.lesimadewe {
    width: 100%;
    height: 50px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.lesimahes {
    height: 50px;
    width: 50px;
    /* background-color: red; */
}


.inputcouleu {
    width: 100%;
    visibility: hidden;
    /* background-color: gray; */
}
.lesimpur {
    width: 100%;
    visibility: hidden;
    /* background-color: gray; */
}

.couleurerw {
    height: 500px;
    width: 100%;
    background-color: yellow;
   
    
}
.coloope1 {
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;
}
.coloope {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 102, 0, 0.865);
    border-radius: 5px;
    cursor: pointer;
}
.rangerpre {
    width: 100%;
    height: 30px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.formuwpiie {
    width: 100%;
    height: 40px;
    /* background-color: aqua; */
    padding-left: 50px;
}

.formuwpiie input {
    padding-left: 20px;
    height: 100%;
    width: 90%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgba(36, 36, 116, 0.211);
}


select {
    margin-left: 200px;
   
}


.boutin {
    height: 100px;
    width: 90%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0 auto ;
}

button {
    padding: 20px 40px;
    border: none;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 3px rgba(5, 19, 179, 0.241);
}