*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    
    
}

.te1 {
    width: 90%;
    height: 70%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
}

#deuxlogo {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 102, 0, 0.865);
    color: white;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;
}