<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page admin</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    
    <link rel="stylesheet" href="/static/CSS/administa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>

    <header>
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 2rem;color: white;
    ">HING<span id="deuxlogo">TON SHOP</span></h1>
    </header>
    <h1 style="font-family: Arial, Helvetica, sans-serif;text-align:center;padding:30px 5px;color: white;">PARAMETRE DU PROPRIETAIRE</h1>
    
    {% for i in VetementHomme %}
    <div class="image">
        <div class="ima1">
            <a href="/info/{{i.id}}" class="image1">
                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width=" 100%" height="100%" alt="">
                
               
            </a>
        </div>
        <div class="desc">
            <p>Taille : <span>{{i.description}}</span></p>
        </div>
        <div class="bouton">
            <div class="supeir1">
                <a href="/mofiedd/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/nofiid.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
            </div>
            <div class="supeir2">
                <a href="/Suppesz/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
            </div>
        </div>
    </div>
    {%endfor%}
 
    <div id="cahsied2" >
        
        <div class="imhdolp" onclick="activatione('cahsied2','blogale2','mondewq2')" >
            <p style="font-family: Arial, Helvetica, sans-serif;color: white;">Vetements femmes</p>
        </div>
        <div class="imhdol" onclick="effacfe('cahsied2','blogale2','mondewq2')">
            <img id="mondewq2" src="{{url_for('static', filename='IMAGE/inf.png')}}" style="filter: invert();" width="20px" height="20px" alt="">
        </div>
        
    </div>
    <div id="blogale2">
    {% for i in VetementFemme %}
    <div id="cahsiedid">
        <div class="ima1">
            <a href="/info/{{i.id}}" class="image1">
                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width=" 100%" height="100%" alt="">
                
               
            </a>
        </div>
        <div class="desc">
            <p>TAILLES : <span style="font-size: 1rem;font-family: Arial, Helvetica, sans-serif;text-transform: uppercase;"><br>
                {% if not i.xs == 'rien' %}
                {{i.xs}}
                {% endif %}
                {% if not i.s == 'rien' %}
                {{i.s}}
                {% endif %}
                {% if not i.l == 'rien' %}
                {{i.l}}
                {% endif %}
                {% if not i.m == 'rien' %}
                {{i.m}}
                {% endif %}
                {% if not i.xxl == 'rien' %}
                {{i.xxl}}
                {% endif %}
                {% if not i.xl == 'rien' %}
                {{i.xl}}
                {% endif %}
                
                
                
                
                
                
            </span></p>
        </div>
        <div class="bouton">
            <div class="supeir1">
                <a href="/mofiedd/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/nofiid.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
            </div>
            <div class="supeir2">
                <a href="/Suppesz/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
            </div>
        </div>
    </div>
    {%endfor%}
    </div>
    <div id="cahsied1" >
        
        <div class="imhdolp" onclick="activatione('cahsied1','blogale1','mondewq1')" >
            <p style="font-family: Arial, Helvetica, sans-serif;color: white;">Montres</p>
        </div>
        <div class="imhdol" onclick="effacfe('cahsied1','blogale1','mondewq1')">
            <img id="mondewq1" src="{{url_for('static', filename='IMAGE/inf.png')}}" style="filter: invert();" width="20px" height="20px" alt="">
        </div>
        
    </div>
    <div id="blogale1">
        {% for i in Montre %}

        <div id="cahsiedid">
            <div class="ima1">
                <a href="/info/{{i.id}}" class="image1">
                    <img src="{{url_for('static', filename='uploads/' + i.image)}}" width=" 100%" height="100%" alt="">
                    
                   
                </a>
            </div>
            <div class="desc">
               
                
            </div>
            <div class="bouton">
                <div class="supeir1">
                    <a href="/mofiedd/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/nofiid.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
                </div>
                <div class="supeir2">
                    <a href="/Suppesz/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
    <div id="cahsied" >
        
        <div class="imhdolp" onclick="activatione('cahsied','blogale','mondewq')" >
            <p style="font-family: Arial, Helvetica, sans-serif;color: white;">Chaussures</p>
        </div>
        <div class="imhdol" onclick="effacfe('cahsied','blogale','mondewq')">
            <img id="mondewq" src="{{url_for('static', filename='IMAGE/inf.png')}}" style="filter: invert();" width="20px" height="20px" alt="">
        </div>
        
    </div>
    <div id="blogale">
        {% for i in sac %}
    

        <div id="cahsiedid">
            <div class="ima1">
                <a href="/info/{{i.id}}" class="image1">
                    <img src="{{url_for('static', filename='uploads/' + i.image)}}" width=" 100%" height="100%" alt="">
                    
                   
                </a>
            </div>
            <div class="desc">
                <p>TAILLES : <span style="font-size: 1rem;font-family: Arial, Helvetica, sans-serif;text-transform: uppercase;"><br>
                    {% if not i.tranwite == 'rien' %}
                    {{i.tranwite}}
                    {% endif %}
                    {% if not i.tranneuf == 'rien' %}
                    {{i.tranneuf}}
                    {% endif %}
                    {% if not i.karente == 'rien' %}
                    {{i.karente}}
                    {% endif %}
                    {% if not i.tranwiteun == 'rien' %}
                    {{i.tranwiteun}}
                    {% endif %}
                    {% if not i.tranwitedeux == 'rien' %}
                    {{i.tranwitedeux}}
                    {% endif %}
                    {% if not i.tranwitrois == 'rien' %}
                    {{i.tranwitrois}}
                    {% endif %}
                    {% if not i.tranwitekate == 'rien' %}
                    {{i.tranwitekate}}
                    {% endif %}
                    
                    
                    
                    
                    
                    
                </span></p>
            </div>
            <div class="bouton">
                <div class="supeir1">
                    <a href="/mofiedd/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/nofiid.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
                </div>
                <div class="supeir2">
                    <a href="/Suppesz/{{i.id}}" ><img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="40px" height="40px" alt=""></a>
                </div>
            </div>
        </div>
    {%endfor%}
       
    </div>
    
        
    <div class="dgud">
        <a href="/vente" class="voiir">VOIR LES PRODUITS</a>
        <a href="/add_objet" class="voiir">AJOUTER DES PRODUITS</a>
    </div>
    
    
    <script src="/static/CSS/admins.js"></script>
</body>
</html>