




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poster</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    
    <link rel="stylesheet" href="/static/CSS/ajout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="dex2" >
           
            <div class="mp1" id="vjk1">
                {% if filename %}
                <img src="{{ url_for('display_image', filename=filename) }}"  height="400px" width="340px" alt="" >
                {% endif %}
                
                
            </div>
            <div class="mp" id="vjk">
               
                <div class="hea2">
                    <div class="pes">
                        <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
                        <h1 id="logo">HING<span id="logo1">TON SHOP</span></h1>
                    </div>
                </div>
                
                <div class="hea2">
                    <h2 style="color: rgb(0, 0, 0);font-size: 1.3rem;margin-bottom: 10px;">AJOUTER DES PRODUITS</h2>
                </div>
    
                <form method="post" action="/add_objet" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <input  type="file" name="file" class="form-control" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <input required  style="padding: 1px 15px;background-color: rgb(0, 0, 0);color: white;border: none;border-radius: 5px;" type="submit" value="valider l'image choisir" class="btn btn-info">
                    </p>
                </form>

                <form action="/objet" method="POST" class="formulaire">
                    {% if filename %}
                    
                    <input type="text" style="opacity: 0;height: 0;width: 0;"  value="{{filename}}" name="image">
                    {% endif %}
                    <label ><h1 id="logo" style="color: rgb(0, 0, 0);">Le nom du produit</h1></label>
                    <input required  type="text" name="nom" id="">
                    <label ><h1 id="logo" style="color: rgb(0, 0, 0);">La taille du produit</h1></label>
                    <input required type="text" name="description" id="">
                   
                    <input  type="text" value="0" name="prix" id=""  style="opacity: 0;height: 0;width: 0;">
                    

                    <label for="selectOption">Choisissez la categorie :</label>
            
                    <select id="selectOption" name="selectOptione">
                        <option value="Sac">Montre</option>
                        <option value="Vetement">Vetement</option>
                        
                    </select>
            
                


                    
                    
                    <button type="submit" style="margin-top: 20px;">Ajouter le produit maintenant</button>
                </form>
            </div>
        </div>
    </header>
</body>
</html>








