
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='IMAGE/logo.jpg')}}">

    <link rel="stylesheet" href="/static/CSS/page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="menuddg">
        <div class="menuddg2">
            <div class="menuddg3">
                

                <!-- <div class="etdjff1">
                    
                    <div style="width: 90%;display: flex;gap: 20px;">
                       
                        <p style="font-size: 1rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-weight: bolder;">Menu</p>
                    </div>
                    <img src="{{url_for('static', filename='IMAGE/croix.png')}}"  width="15px" alt="">
                </div> -->
                <a href="/" class="etdjff">
                    
                    <div style="width: 90%;display: flex;gap: 20px;">
                        <img src="{{url_for('static', filename='IMAGE/homedd.png')}}"  width="20px" alt="">
                        <p style="font-size: 0.8rem;font-family: sans-serif;">Acceuil</p>
                    </div>
                    <img src="{{url_for('static', filename='IMAGE/inf.png')}}"  width="15px" alt="">
                </a>
                <a href="/sac" class="etdjff">
                    
                    <div style="width: 90%;display: flex;gap: 20px;">
                        <img src="{{url_for('static', filename='IMAGE/chas3.png')}}"  width="20px" alt="">
                        <p style="font-size: 0.8rem;font-family: sans-serif">Chaussure Homme & Femme</p>
                    </div>
                    <img src="{{url_for('static', filename='IMAGE/inf.png')}}"  width="15px" alt="">
                </a>
                <a href="/vente" class="etdjff">
                    
                    <div style="width: 90%;display: flex;gap: 20px;">
                        <img src="{{url_for('static', filename='IMAGE/robeee.png')}}"  width="20px" alt="">
                        <p style="font-size: 0.8rem;font-family: sans-serif">Vetement Femme</p>
                    </div>
                    <img src="{{url_for('static', filename='IMAGE/inf.png')}}"  width="15px" alt="">
                </a>
                <a href="/montre" class="etdjff">
                    
                    <div style="width: 90%;display: flex;gap: 20px;">
                        <img src="{{url_for('static', filename='IMAGE/hansb2.png')}}"  width="20px" alt="">
                        <p style="font-size: 0.8rem;font-family: sans-serif">Montre H & F</p>
                    </div>
                    <img src="{{url_for('static', filename='IMAGE/inf.png')}}"  width="15px" alt="">
                </a>
                <!-- <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="15px" alt="">
                    <a href="/vente" style="font-size: 0.8rem;">Vetements femmes</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="15px" alt="" >
                    <a href="/sac" style="font-size: 0.8rem;">Chaussures H & F</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="15px" alt="">
                    <a href="/montre" style="font-size: 0.8rem;">Montres</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/tle.png')}}"  width="15px" alt="">
                    <a href="/#contace" style="font-size: 0.8rem;">Contacts</a>
                </div> -->
                <div class="boases">
                    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding-bottom: 10px;">Contactez - Nous</p>
                    <p style="font-size: 0.7rem;padding-bottom: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. RLorem ipsum dolor sit amet consectetur adipisicing elit. R</p>
                    <a href="" class="zghghz">
                        <img src="{{url_for('static', filename='IMAGE/tle.png')}}"  width="15px" alt="">
                        <p style="font-size: 1rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: black;">+225 0101678809</p>
                    </a>
                    <a href="" class="zghghz">
                        <img src="{{url_for('static', filename='IMAGE/emmqs.png')}}"  width="15px" alt="">
                        <p style="font-size: 1rem;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: black;">hington-shop@gmail.com</p>
                    </a>
                    <a href="" class="zghghz">
                        <img src="{{url_for('static', filename='IMAGE/wha.png')}}"  width="15px" alt="">
                        <p style="font-size: 0.8rem;color: black;">Posez vos questions sur <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">WhatsApp</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <header>
        <div class="hedaf">
            <div class="logo">
                <div class="tete" style="padding-top: 10px;">
                    <!-- <div class="te1">
                        <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;color: black;
                   ;font-size: 1.1rem; ">HING<span id="deuxlogo">TON SHOP</span></h1>
                    </div> -->
                    <img src="{{url_for('static',filename='IMAGE/hinglogo.png')}}" width="150px"  alt="">
                    <!-- <img src="{{url_for('static',filename='IMAGE/logoze.jpg')}}" width="70px" style="filter: invert();" alt=""> -->
                    
                   
                   
                </div>
            </div>
            <div class="recherche">
                <form action="/mesrecherches" method="post" id="hjdsd">
                    <!-- <div class="imsdghde">
                        <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                    </div> -->
                    <input type="text" name="recher" id="" placeholder="Cherchez un produit">
                    <button type="submit"><div class="imsdghde">
                        <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                    </div></button>
                </form>
            </div>
            
            <div class="menu">
                <div class="imsdghde1">
                    <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                </div>
                <div class="imsdghde12">
                    <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                </div>
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}"  width="20px" alt="" id="hdhdj">
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}"  width="20px" alt="" id="hdhdj2">
            </div>
        </div>
       
    </header>
    <div class="wweee">
        <div class="wweee2">
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.2rem;text-align: center;color: black;padding-bottom: 10px;">SE CONNECTER A SON COMPTE</h1>
            <p style="text-align: center;padding-bottom: 50px;color: gray;font-size: 0.8rem;">Saisir son adresse e-mail et son mot de passe pour se connecter a son compte HINGTON SHOP .</p>

            <div class="dex2">
                
                <div class="mp" id="vjk">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <ul style="text-align: center;">
                            {% for message in messages %}
                            <li style="color: red;list-style-type: none;font-size: 0.8rem;padding-bottom: 20px;">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        
                        {% endif %}
                        {% endwith %}
                    
                    
                        <form action="/sprome/{{routeure}}" method="POST" class="formulaire">
                    
                    
                           
                            
                           
                            <input required type="email" name="last_name" id="" placeholder="Entrer votre email">
                       
                            <input  required type="password" name="age" id="" placeholder="Entrer votre mot de passe">
                            
                            
                            
                         
                            <!-- <a href="/add_data" style="font-size: 0.7rem;color: rgb(90, 7, 163);padding-top: 10px;margin-bottom: 50px;">Non ! je veux m'inscrire</a>                             -->
                            <button type="submit"> <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1rem;text-align: center;color: white;">SE CONNECTER MAINTENANT</h1></button>
                        </form>

                        
                </div>
            </div>
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1rem;text-align: center;color: black;padding-bottom: 10px;padding-top: 100px;">CREER UN COMPTE</h1>

            <a href="/add_data" style="text-align: center;padding-bottom: 50px;color: gray;font-size: 0.8rem">Cliquer ici pour créer un compte .</a>
        </div>
    </div>








     
    
   
    
    <script src="/static/CSS/condf.js"></script>
</body>
</html>

