<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
        <h1 id="logo">HING<span id="logo1">TON SHOP</span></h1>


    </header>
    <label for="selectOption">Choisissez la categorie :</label>
            
    <select id="selectOption" name="selectOptione">
        <option value="Sac">Sac</option>
        <option value="Vetement">Vetement</option>
        <option value="Fourniture">Livre</option>
    </select> 
    
    
    <div class="info">
        
        <div class="image">
           
            
            
           
            
            
        </div>
    </div>
    <footer>
        <div class="log">
            <div class="al">
                <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
                <h1 id="logo" >HING<span id="logo1">TON SHOP </span></h1>
            </div>
            
            <p style="color: white;">Vous remercie !</p>
        </div>
        
        <div class="log1">
            
            <div class="log11">
                <a style="text-decoration: none;" href="https://api.whatsapp.com/send/?phone=22578587708&text='salut hington'&type=phone_number&app_absent=0">
                    <img src="{{ url_for('static', filename='IMAGE/whats.png')}}" width="20px" style="filter: invert();" alt="">
                </a>
            </div>
            <div class="log12">
                <img src="{{ url_for('static', filename='IMAGE/face.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
            <div class="log13">
                <img src="{{ url_for('static', filename='IMAGE/instag.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
        </div>
    </footer>
    

    <div class="tesf">
        <div class="pidijd">
            {% if user %}
            
                <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
           
            {% endif %}
        </div>
        <div class="descf">
            <p>Taille : <span>{{user.description}}</span></p>

        </div>
        <div class="text">
            {% if user %}
            <form action="/ssm/{{user.id}}" method="post">
                <button type="submit" id="but"><img src="{{ url_for('static', filename='IMAGE/whats.png')}}" style="filter: invert();" width="25px" alt="">COMMENDE WHATSAPP !</button>
            </form>
            
            
            {% endif %}
        </div>
        <a href="/vente">
            <div class="bac">
                <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
        </a>
    </div>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femmes</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <a href="/vente">
        <div class="bac">
            <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
        </div>
    </a>
    <div class="monfixder">
        <div  class="blueusw">
            <div class="croix">
                
            </div>
            <div class="retse">
               
                
                <a href="/vente" style="text-decoration: none;">
                    <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
                </a>
                <!-- <a href="/hommes">
                    <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
                </a> -->
                <a href="/sac">
                    <p ><img src="{{url_for('static', filename='IMAGE/chofeme.png')}}" width="20px" alt=""> <span>Chaussures femmes</span></p>
                </a>
                <a href="/sac">
                    <p ><img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="20px" alt=""> <span>Chaussures hommes</span></p>
                </a>
                
                <a href="/montre">
                    <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
                </a>
                
                
               
               
            
            </div>
        </div>
    </div>
    
    <div class="monfix">
        <div class="croix">
            <div class="croi" >
                <img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="30px" alt="">
            </div>
        </div>
        <div class="retse">
            <div class="menu">
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.5rem;
                ">MENU</h1>
            </div>
            
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <!-- <a href="/hommes" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a> -->
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/chofeme.png')}}" width="20px" alt=""> <span>Chaussures femmes </span></p>
            </a>
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="20px" alt=""> <span>Chaussures hommes</span></p>
            </a>
            <a href="/montre" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
            
            
            
            
            <a href="/#contace" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/tle.png')}}" width="20px" alt=""> <span>Contactez - nous ! </span></p>
            </a>
        </div>
    </div>

    <div class="ente">
        
        <div class="tete">
            <div class="te1">
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
            </div>
            <div class="te2" >
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
            
           
           
        </div>
        <div class="entete">
            <!-- <form action="" method="post" id="formulaire">
                <input type="text" id="input" placeholder="Recherche ton article" style="color: black;">
                <button id="bouton">Recherche</button>
            </form> -->
            <div class="mennn">
                <nav>
                    <ul>
                        
                        <li>
                            
                            
                            
                            <div >
                                <a href="/" id="home">Home</a>
                            </div>
                        </li>
                        <li>
                            <a href="/#contace" id="contact">Contacts</a>
                        </li>
                        <li>
                            <div class="menue">
                                <a href="#" class="menue" id="cleud">> Toutes categories</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- <div class="lesimages">
        
        <div class="imageim">
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.5rem;text-align: center;color: white;padding-bottom: 20px;padding-top: 10px;
            ">DETAILS SUR CET ARTICLE </h1>
            <p style="text-align: center;color: rgb(189, 189, 189);padding-top: 20px;padding-left: 20px;padding-right: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis! Tempore qui quisquam explicabo veniam modi </p>
            <div class="inform">
                <div class="principal_image">
                    {% if user %}
            
                    <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
               
                    {% endif %}
                </div>
                <div class="second_image">
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho3.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                </div>
            </div>
           
           
            <div class="autre">
                <div class="appel1">
                    <p>Taille de l'article : {{user.description}} commander via Whatsapp !!!</p>
                </div>
                <div class="appel2">
                    {% if user %}
                    <form action="/ssm/{{user.id}}" method="post">
                       
                        <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        
           
    </div> 
     -->

    <div class="artivles">
        <div class="redux">
            <!-- <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.2rem;">-20%</h1> -->
        </div>
        <div class="vetemm">
            {% if data[0] %}
            <div class="ecran" style="width: 100% ; height: 80%; box-shadow: 1px 1px 3px 2px rgba(181, 181, 181, 0.336);">
               <img src="{{url_for('static', filename='uploads/' + data[0])}}" alt="" id="ecran" width="100%" height="100%">

            </div>
            
       
            {% endif %}
            
            <div class="resteDeImage">
                {% if data[0] != 'vide' %}
                <div class="restepres" id="image0">
                    <input type="text" id="image0Input" value="{{data[0]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[0])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[1] != 'vide' %}
                <div class="restepres" id="image1">
                    <input type="text" id="image1Input" value="{{data[1]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[1])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[2]!= 'vide' %}
                <div class="restepres" id="image2">
                    <input type="text" id="image2Input" value="{{data[2]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[2])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[3] != 'vide' %}
                <div class="restepres" id="image3">
                    <input type="text" id="image3Input" value="{{data[3]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[3])}}" width="100%" height="100%"  alt="">

                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="infoeisd">
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.2rem;color: rgb(36, 36, 116);text-transform: uppercase;">{{user.nom}}</h1>
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;padding-top: 15px;">DESCRIPTION DE L'ARTICLE</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;">{{user.description}} </p>
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;padding-top: 15px;">COULEUR</h1>
            <div class="cerfsd">
                <!-- LA COULEUR VIENT AVEC LE POSTE -->
                {% if user.noir == 'noir' %}
                <div class="colornoir">
                    
                </div>
                {% endif %}
                
                {% if user.rouge == 'rouge' %}
                <div class="colorrouge">
                    
                </div>
                
                {% endif %}
                {% if user.bleu == 'bleu' %}
                <div class="colorbleu">

                </div>
                {% endif %}
                {% if user.jaune == 'jaune' %}
                <div class="coloryello">
                    
                </div>
                {% endif %}
                {% if user.vert == 'vert' %}
                <div class="colorgreen">

                </div>
                {% endif %}
                {% if user.orange == 'orange' %}
                <div class="colororange">
                    
                </div>
                {% endif %}
                {% if user.rose == 'rose' %}
                <div class="colorrose">

                </div>
                {% endif %}
                {% if user.blanc == 'blanc' %}
                <div class="colorblanc">
                    
                </div>
                {% endif %}
                {% if user.marron == 'marron' %}
                <div class="colormarron">
                    
                </div>
                {% endif %}
                {% if user.violet == 'violet' %}
                <div class="colorviolet">
                    
                </div>
                {% endif %}
                {% if user.gris == 'gris' %}
                <div class="colorgris">
                    
                </div>
                {% endif %}
               
            </div>
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;padding-top: 15px;">TAILLE</h1>
            <div class="cerfsd2">
                
                <!-- IF user.description # TOI -->
                {% if user.s == 's' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">S</p>
                </div>
                {% endif %}
                {% if user.xl == 'xl' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">XL</p>
                </div>
                {% endif %}
                {% if user.xxl == 'xxl' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                {% endif %}
                {% if user.xs == 'xs' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">XS</p>
                </div>
                {% endif %}
                {% if user.m == 'm' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">M</p>
                </div>
                {% endif %}
                {% if user.l == 'l' %}
                <div class="rodewq22">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                {% endif %}
                
                
                <!-- <div class="rodewq33">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                
                <div class="rodewq44">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">MX</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;">XL</p>
                </div> -->
            </div>
            
            <form method="post" action="/ssm/{{user.id}}" enctype="multipart/form-data" class="commande">
                <div class="regle">

                    <p id="moins">-</p>
                    <input type="text" value="0" style="width: 15px;border: none;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;" id="numeric">
                  
                    <p id="plus">+</p>
                </div>
               
                <button class="bouto" type="submit">COMMANDE ICI</button>
                <!-- {% if user %}
                <form action="/ssm/{{user.id}}" method="post">
                   
                    <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                </form>
                {% endif %} -->
            </form>
               
          
            <!-- <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.2rem;padding-top: 15px;">Description</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;padding-bottom: 30px;">{{user.description}} </p> -->
        </div>
    </div>
    <div class="vtefemmes">
        <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.3rem;text-align: center;padding-bottom: 20px;
        color: rgb(36, 36, 116);padding-left: 20px;">TU POURRAIS AUSSI AIMER</h1>
    </div>
    <div class="afficje">
        {% for i in commenta %}  
        <a href="/info/{{i.id}}" class="b1">      
    
            <div class="pheorf">
                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="100%"  alt="">

            </div>
            <div class="pheorf2">
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </a>
        {% endfor %}
        
       
       
    </div>
    <footer id="foot">
        <header id="head">
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
        
    </footer>



    <div class="formuhfh">
        <form method="post" action="/ssm/{{user.id}}" 
        enctype="multipart/form-data"  id="formuhfh1">
        <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 0.7rem;padding-top: 10px;text-align: center;color: rgba(255, 102, 0, 0.865);">VALIDE TA COMMANDE</h1>
            <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">- Choisissez les couleurs que vous voulez !</p>
        <div class="inputcouleu">
            <input type="checkbox" name="rouge" id="rouge" value="rouge">
            <input type="checkbox" name="jaune" id="jaune" value="jaune">
            <input type="checkbox" name="vert" id="vert" value="vert">
            <input type="checkbox" name="orange" id="orange" value="orange">
            <input type="checkbox" name="marron" id="marron" value="marron">
            <input type="checkbox" name="gris" id="gris" value="gris">
            <input type="checkbox" name="noir" id="noir" value="noir">
            <input type="checkbox" name="violet" id="violet" value="violet">
            <input type="checkbox" name="rose" id="rose" value="rose">
            <input type="checkbox" name="bleu" id="bleu" value="bleu">
            <input type="checkbox" name="blanc" id="blanc" value="blanc">
            
        </div>
        
        <div class="rangerpre">
            {% if user.rouge == 'rouge' %}
            <label for="rouge">
                <div class="coloope" style="background-color: #ff0000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(11%) sepia(95%) saturate(7479%) hue-rotate(7deg) brightness(108%) contrast(120%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.vert == 'vert' %}
            <label for="vert">
                <div class="coloope" style="background-color: #008000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(29%) sepia(69%) saturate(1418%) hue-rotate(89deg) brightness(100%) contrast(105%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.jaune == 'jaune' %}
            <label for="jaune">
                <div class="coloope" style="background-color: #a5a515;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(60%) sepia(19%) saturate(1860%) hue-rotate(21deg) brightness(100%) contrast(84%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.orange == 'orange' %}
            <label for="orange">
                <div class="coloope" style="background-color: #ff7300;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(52%) sepia(36%) saturate(5712%) hue-rotate(1deg) brightness(105%) contrast(103%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.marron == 'marron' %}
            <label for="marron">
                <div class="coloope" style="background-color: #573214;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(17%) sepia(82%) saturate(472%) hue-rotate(346deg) brightness(95%) contrast(93%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.gris == 'gris' %}
            <label for="gris">
                <div class="coloope" style="background-color: #808080;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(49%) sepia(6%) saturate(3%) hue-rotate(89deg) brightness(100%) contrast(89%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.noir == 'noir' %}

            <label for="noir">
                <div class="coloope" style="background-color: #000000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" >
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.violet == 'violet' %}
            <label for="violet">
                <div class="coloope" style="background-color: #800080;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(13%) sepia(76%) saturate(3903%) hue-rotate(290deg) brightness(85%) contrast(117%);">
            
                    
                </div>
                
            </label>
            {% endif %}
            {% if user.rose == 'rose' %}

            
            <label for="rose">
                <div class="coloope" style="background-color: #d87093;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(84%) sepia(22%) saturate(6639%) hue-rotate(294deg) brightness(86%) contrast(97%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.bleu == 'bleu' %}
            <label for="bleu">
                <div class="coloope" style="background-color: #0000ff;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(8%) sepia(96%) saturate(6156%) hue-rotate(245deg) brightness(122%) contrast(139%);">
            
                    
                </div>
            </label>
            {% endif %}
            {% if user.blanc == 'blanc' %}
            <label for="blanc">
                <div class="coloope" style="background-color: #bebdbd">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(63%) sepia(88%) saturate(0%) hue-rotate(188deg) brightness(100%) contrast(95%);

                    ">
            
                    
                </div>
            </label>
            {% endif %}
        </div>
            <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">- Choisissez les tailles que vous voulez !</p>
            <div class="inputcouleu">
                <input type="checkbox" name="xs" id="xs" value="xs">
                <input type="checkbox" name="l" id="l" value="l">
                <input type="checkbox" name="m" id="m" value="m">
                <input type="checkbox" name="xl" id="xl" value="xl">
                <input type="checkbox" name="s" id="s" value="s">
                <input type="checkbox" name="xxl" id="xxl" value="xxl">
                
            </div>
            <div class="rangerpre">
                
                
                <label for="xs">
                    {% if user.xs == 'xs' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xs</p>
                    </div>
                    {% endif %}
                </label>
                <label for="l">
                    {% if user.l == 'l' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">l</p>
                    </div>
                    {% endif %}
                </label>
                <label for="m">
                    {% if user.m == 'm' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">m</p>
                    </div>
                    {% endif %}
                </label>
                <label for="xl">
                    {% if user.xl == 'xl' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xl</p>
                    </div>
                    {% endif %}
                </label>
                <label for="xxl">
                    {% if user.xxl == 'xxl' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xxl</p>
                    </div>
                    {% endif %}
                </label>
                <label for="s">
                    {% if user.s == 's' %}
                    <div class="coloope">
                        <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">s</p>
                    </div>
                    {% endif %}
                </label>
            </div>
            <div  class="commandewe">
                <div class="regle">
    
                    <p id="moins">-</p>
                    <input type="text" value="0" style="width: 15px;border: none;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;" id="eeecran" name="eeecran">
                  
                    <p id="plus">+</p>
                </div>
               
                <button class="bouto" type="submit">COMMANDE ICI</button>
                <!-- {% if user %}
                <form action="/ssm/{{user.id}}" method="post">
                   
                    <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>
    
                </form>
                {% endif %} -->
            </div>
            <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">Entrez votre nom</p>
            <input type="text" name="nom" id="livraison" placeholder="nom">
            <p style="text-align: center;color: white;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">Entrez le lieu de livraison</p>
            <input type="text" name="livraison" id="livraison" placeholder="livraison">
            <p style="text-align: center;color: white;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">Entrez votre numero</p>
            <input type="text" name="numero" id="livraison" placeholder="numero">
        </form>
        
           
    </div>
    <!-- <div class="sty">

    </div> -->
    <!-- <footer id="foot">
        <header id="head">
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
        
    </footer> -->
    <script src="/static/CSS/front.js"></script>
</body>
</html>