
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hommes</title>
    <link rel="stylesheet" href="/static/CSS/vent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="imageinforer">
       
        <div class="retse">
            <div class="menu">
                <h1 >Toutes les categories</h1>
            </div>
            
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/hommes" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a>
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/sacfem.png')}}" width="20px" alt=""> <span>Sacs femmes </span></p>
            </a>
            <a href="/montre" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
            
            
            
            
            
            <a href="/#contace" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/tle.png')}}" width="20px" alt=""> <span>Contactez - nous ! </span></p>
            </a>
        </div>
    
    
    </div>
    <div class="monfixder">
        <div class="croix">
            
        </div>
        <div class="retse">
           
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/hommes">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a>
            <a href="/sac">
                <p ><img src="{{url_for('static', filename='IMAGE/sacfem.png')}}" width="20px" alt=""> <span>Sacs femmes </span></p>
            </a>
            <a href="/sac">
                <p ><img src="{{url_for('static', filename='IMAGE/sachomme.png')}}" width="20px" alt=""> <span>Sacs hommes </span></p>
            </a>
            
            <a href="/montre">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
           
        
        </div>
    </div>
    <div class="monfix">
        <div class="croix">
            <div class="croi" >
                <img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="30px" alt="">
            </div>
        </div>
        <div class="retse">
            <div class="menu">
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.5rem;
                ">MENU</h1>
            </div>
            
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/hommes" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a>
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>femmes </span></p>
            </a>
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/sacfem.png')}}" width="20px" alt=""> <span>Sacs femmes </span></p>
            </a>
            <a href="/montre" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
            
            
            
            
            <a href="/#contace" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/tle.png')}}" width="20px" alt=""> <span>Contactez - nous ! </span></p>
            </a>
        </div>
    </div>


    <div class="ente">
        
        <div class="tete">
            <div class="te1">
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
            </div>
            <div class="te2" >
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
            
           
           
        </div>
        <div class="entete">
            <form action="/mesrecherches" method="post" id="formulaire">
                <input type="text" id="input" placeholder="Recherche ton article" style="color: black;"name="recher">
                <button id="bouton">Recherche</button>
            </form>
            <div class="mennn">
                <nav>
                    <ul>
                        
                        <li>
                            
                            
                            
                            <div >
                                <a href="/" id="home">Home</a>
                            </div>
                        </li>
                        <li>
                            <a href="/#contace" id="contact">Contacts</a>
                        </li>
                        <li>
                            <div class="menue">
                                <a href="#" class="menue" id="cleud" style="color: rgba(255, 102, 0, 0.865);">> Vetements hommes</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   
    <div class="lesimages">
        <div class="tetyrr">
            <div class="effaces">

            </div>
            <div class="restrer">
                <h1 >VETEMENTS HOMMES</h1>
                <p >Le styles vestimentaires est au top ! </p>
            </div>
            
        </div>
        
        <div class="image">
            <div class="imageinforere">

            </div>
            <div class="mesimages">
                
                
                
                {% for i in data %}
        
                <a href="/homme/{{i.id}}" id="imgform">                    
                    
                        <input type="text" style="opacity: 0;width: 0;height: 0;">
                        <button type="submit" style="border: none;">
                            <div class="ima">
                                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="115%"  alt="">
                            </div>
                        </button>
                   
                </a>
                
                {%endfor%}
               
            </div>
            
            
        </div>
           
    </div> 
    <div class="redirectse">
        <div class="reatsge1">
            
        </div>
        <div class="reatsge2">
            <div class="rectangle">
                
                <a href="/hommes" class="fec1">
                    <img src="{{url_for('static', filename='IMAGE/sup.png')}}" width="20px" alt="">

                </a>
                <div class="posietd">
                    <h3>1</h3>
                </div>
                <div class="posietd2">
                    <h3>2</h3>
                </div>
                <a href="/indisponible" class="fec2">
                    <img src="{{url_for('static', filename='IMAGE/inf.png')}}" width="20px" alt="">

                </a>
                <!-- <div >
                    

                </div> -->
            </div>
        </div>
        
    </div>
    
    <footer id="foot" >
        <div id="head " >
            <img src="{{url_for('static',filename='IMAGE/hinglogo.png')}}" style="filter: invert();" width="170px"  alt="">
        </div>
        <!-- <p >Nous sommes une boutique de vente en ligne ...

        </p> -->
        
    </footer>
    <script src="/static/CSS/acceuil.js"></script>
</body>
</html>
