<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter article</title>
    <link rel="stylesheet" href="/static/CSS/administa.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <div class="enetdde">
        <div class="header1">
            
                <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1rem;color: rgb(36, 36, 116);
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        
        </div>
        
    
    </div>
    <div class="beufgeir">
        <header>
            <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1.2rem;color: rgb(36, 36, 116);
        ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/administa" >
                        
                        <img src="{{url_for('static', filename='IMAGE/dates.png')}}"  width="15px" height="15px" alt="">
                        <p style="font-size: 0.8rem;font-weight: bolder;">Ma liste de produits</p>
                    </a>
                </li>
                <li>
                    <a href="/add_objet" >
                        <img src="{{url_for('static', filename='IMAGE/azjjje.png')}}"  width="15px" height="15px" alt="">
                        <p style="font-size: 0.8rem;font-weight: bolder;color: rgb(36, 36, 116);">Ajouter un produit</p>
                    </a>
                </li>
                <li>
                    <a href="/administa">
                        <img src="{{url_for('static', filename='IMAGE/dolla.png')}}"  width="15px" height="15px" alt="">
                        <p style="font-size: 0.8rem;font-weight: bolder;">Ma liste de commandes</p>
                    </a>
                </li>
                
               
                
                <li>
                    <a href="/administa">
                        <img src="{{url_for('static', filename='IMAGE/efddh.png')}}"  width="15px" height="15px" alt="">
                        <p style="font-size: 0.8rem;font-weight: bolder;">Vision user</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="dgghjsksc">
            <nav>
                <ul>
                    <li>
                        <a href="/administa" >
                        
                            <img src="{{url_for('static', filename='IMAGE/pppp.png')}}"  width="15px" height="15px" alt="">
                            <p style="font-size: 0.8rem;font-weight: bolder;">Profil Admin</p>
                        </a>
                    </li>
                    <li>
                        <a href="/administa" >
                        
                            <img src="{{url_for('static', filename='IMAGE/sup.png')}}"  width="15px" height="15px" alt="">
                            <p style="font-size: 0.8rem;font-weight: bolder;">Déconnexion</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="beufgeir1">
    
    </div>
    <div class="comehdhd">
        <div class="gdjfyf">
            <p style="text-align: end;padding-right: 20px;padding-top: 25px;font-size: 0.8rem;padding-bottom: 60px;">Bonjour a vous , chers administrateur</p>
        </div>
        <div class="dghgff">
            <div class="megdghs">
                <div class="ghdghjhze">
                    <a href="/add_objet" ><img style="filter: invert()" src="{{url_for('static', filename='IMAGE/azjjje.png')}}"  width="25px" height="25px" alt=""></a>
                </div>
                <div class="ghdghjhze">
                    <a href="/vente" ><img style="filter: invert();" src="{{url_for('static', filename='IMAGE/efddh.png')}}"  width="25px" height="25px" alt=""></a>
                </div>
            </div>
            <div class="megdghs1">
                <div class="dhhghd">
                    
                </div>
                <div class="dhhghd">

                </div>
                <div class="dhhghd">

                </div>
            </div>
            
        </div>
        <div class="mesadggd">
            <div class="hejdds">
                <p style="font-size: 0.8rem;color: blueviolet;">- Ajoute l'image principale , ainsi que les autres images , puis clique sur le bouton <span style="font-size: 0.8rem;color: blueviolet;">' TELECHARGER MAINTENANT '</span> pour enregistrer toutes les images selectionneés . <br> - Tu dois obligatoirement ajouter toutes les images secondaires soit <span style="font-size: 0.8rem;color: blueviolet;">' Image Principale & Image 1,2,3,4 ' </span> .</p>

            </div>
        </div>
        <div class="gdghshjs">
            
    <div class="enveleopp">
        <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;color: rgb(36, 36, 116);text-align: center;padding-top: 30px;
    ">AJOUTER ARTICLES</h1>
        <!-- <input type="text" name="aaa" id="aaa"> -->
    <div class="plain" id="Description">
        <form method="post" action="/add_objet" enctype="multipart/form-data" class="demi2">
            <p style="text-align: center;color: rgb(36, 36, 116);;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">Quel types de produits veux-tu poster ?</p>
            <div class="secpor">
                <div class="secpor1">
                    <input type="checkbox" name="cheki1" id="" value="VetementFemme">
                    <p style="font-size: 0.5rem;color: rgb(36, 36, 116);">Vetements femmes</p>
                </div>
                <div class="secpor2">
                    <input type="checkbox" name="cheki2" id="">
                    <p style="font-size: 0.5rem;color: rgb(36, 36, 116);" value="Chaussuresfemmes">Chaussures femmes</p>
                </div>
                <div class="secpor3">
                    <input type="checkbox" name="cheki3" id="">
                    <p style="font-size: 0.5rem;color: rgb(36, 36, 116);" value="Chaussureshommes">Chaussures hommes</p>
                </div>
                <div class="secpor4">
                    <input type="checkbox" name="cheki4" id="">
                    <p style="font-size: 0.5rem;color: rgb(36, 36, 116);" value="montre">Montres</p>
                </div>
            </div>
            
            <dl style="visibility: hidden;" >
                <p>
                    <input  type="file" name="file" class="form-control" autocomplete="off" id="imagefile1" required>
                </p>
            </dl>
            <dl style="visibility: hidden;">
                <p>
                    <input  type="file" name="file1" class="form-control" autocomplete="off"id="imagefile2" required>
                </p>
            </dl>
            <dl style="visibility: hidden;">
                <p>
                    <input  type="file" name="file2" class="form-control" autocomplete="off" id="imagefile3" required>
                </p>
            </dl>
            <dl style="visibility: hidden;">
                <p>
                    <input  type="file" name="file3" class="form-control" autocomplete="off" id="imagefile4" required>
                </p>
            </dl>
            
            <p style="visibility: hidden;">
                <input required  style="padding: 1px 15px;background-color: rgb(0, 0, 0);color: white;border: none;border-radius: 5px;" type="submit" value="valider l'image choisir" class="btn btn-info" id="envoyer">
            </p>
            
        </form>
        
    
    </div>


    <div class="fauxtele" >
        <!-- <div class="poir">
            
        </div>
        <div class="poir">

        </div> -->
        <label for="imagefile1" >
            <div class="imagee1lo">
                <img style="filter: invert();" src="{{url_for('static', filename='IMAGE/downimage.png')}}" alt="" width="20px" >
                Image Principale
            </div>
            
        </label>

        <label for="imagefile2" >
            <div class="imagee1lo">
                <img style="filter: invert();" src="{{url_for('static', filename='IMAGE/downimage.png')}}" alt="" width="20px">
                Image 2
            </div>
            
        </label>
        <label for="imagefile3" >
            <div class="imagee1lo">
                <img style="filter: invert();" src="{{url_for('static', filename='IMAGE/downimage.png')}}" alt="" width="20px">
                Image 3
            </div>
            
        </label>
        <label for="imagefile4" >
            <div class="imagee1lo">
                <img style="filter: invert();" src="{{url_for('static', filename='IMAGE/downimage.png')}}" alt="" width="20px">
                Image 4
            </div>
            
        </label>

    </div>
    <div class="submite" >
        <label for="envoyer" id="submite1"><img style="filter: invert();" src="{{url_for('static', filename='IMAGE/telfg.png')}}" alt="" width="20px"> <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 1rem;">TELECHARGER MAINTENANT</h1></label>
    </div>
   
    </div>
    <!-- <div class="g">

    </div> -->
        </div>
    </div>


















    <script src="/static/CSS/imsge.js"></script>
</body>
</html>