<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
        <h1 id="logo">HING<span id="logo1">TON SHOP</span></h1>


    </header>
    <!-- <label for="selectOption">Choisissez la categorie :</label>
            
    <select id="selectOption" name="selectOptione">
        <option value="Sac">Sac</option>
        <option value="Vetement">Vetement</option>
        <option value="Fourniture">Livre</option>
    </select> -->
    
    
    <div class="info">
        
        <div class="image">
            {% for i in data %}
            
            <a href="/info/{{i.id}}" class="image1">
                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="100%" alt="">
                
               
            </a>
            
            {%endfor%}
            
            
           
            
            
        </div>
    </div>
    <footer>
        <div class="log">
            <div class="al">
                <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
                <h1 id="logo" >HING<span id="logo1">TON SHOP </span></h1>
            </div>
            
            <p style="color: white;">Vous remercie !</p>
        </div>
        
        <div class="log1">
            
            <div class="log11">
                <a style="text-decoration: none;" href="https://api.whatsapp.com/send/?phone=22578587708&text='salut hington'&type=phone_number&app_absent=0">
                    <img src="{{ url_for('static', filename='IMAGE/whats.png')}}" width="20px" style="filter: invert();" alt="">
                </a>
            </div>
            <div class="log12">
                <img src="{{ url_for('static', filename='IMAGE/face.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
            <div class="log13">
                <img src="{{ url_for('static', filename='IMAGE/instag.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
        </div>
    </footer>
    

    <div class="tesf">
        <div class="pidijd">
            {% if user %}
            
                <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
           
            {% endif %}
        </div>
        <div class="descf">
            <p>Taille : <span>{{user.description}}</span></p>

        </div>
        <div class="text">
            {% if user %}
            <form action="/ssm/{{user.id}}" method="post">
                <button type="submit" id="but"><img src="{{ url_for('static', filename='IMAGE/whats.png')}}" style="filter: invert();" width="25px" alt="">COMMENDE WHATSAPP !</button>
            </form>
            
            
            {% endif %}
        </div>
        <a href="/vente">
            <div class="bac">
                <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
        </a>
    </div>
</body>
</html>
