<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
        <h1 id="logo">HING<span id="logo1">TON SHOP</span></h1>


    </header>
    <label for="selectOption">Choisissez la categorie :</label>
            
    <select id="selectOption" name="selectOptione">
        <option value="Sac">Sac</option>
        <option value="Vetement">Vetement</option>
        <option value="Fourniture">Livre</option>
    </select> 
    
    
    <div class="info">
        
        <div class="image">
           
            
            
           
            
            
        </div>
    </div>
    <footer>
        <div class="log">
            <div class="al">
                <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
                <h1 id="logo" >HING<span id="logo1">TON SHOP </span></h1>
            </div>
            
            <p style="color: white;">Vous remercie !</p>
        </div>
        
        <div class="log1">
            
            <div class="log11">
                <a style="text-decoration: none;" href="https://api.whatsapp.com/send/?phone=22578587708&text='salut hington'&type=phone_number&app_absent=0">
                    <img src="{{ url_for('static', filename='IMAGE/whats.png')}}" width="20px" style="filter: invert();" alt="">
                </a>
            </div>
            <div class="log12">
                <img src="{{ url_for('static', filename='IMAGE/face.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
            <div class="log13">
                <img src="{{ url_for('static', filename='IMAGE/instag.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
        </div>
    </footer>
    

    <div class="tesf">
        <div class="pidijd">
            {% if user %}
            
                <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
           
            {% endif %}
        </div>
        <div class="descf">
            <p>Taille : <span>{{user.description}}</span></p>

        </div>
        <div class="text">
            {% if user %}
            <form action="/ssm/{{user.id}}" method="post">
                <button type="submit" id="but"><img src="{{ url_for('static', filename='IMAGE/whats.png')}}" style="filter: invert();" width="25px" alt="">COMMENDE WHATSAPP !</button>
            </form>
            
            
            {% endif %}
        </div>
        <a href="/vente">
            <div class="bac">
                <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
        </a>
    </div>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Femmes</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <!-- <a href="/vente">
        <div class="bac">
            <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
        </div>
    </a> -->
    

    
    <a href="monpanier/1">
        <div class="marcher">
            <img src="{{url_for('static', filename='IMAGE/panier.png')}}" style="filter: invert();" width="20px" alt="">
            <div class="rondquant">
                <p style="font-size: 1rem;">5</p>
            </div>
        </div>
    </a>  
    <div class="menuddg">
        <div class="menuddg2">
            <div class="menuddg3">
                

                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/homedd.png')}}"  width="15px" alt="">
                    <a href="/" style="font-size: 0.8rem;">Acceuil</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="15px" alt="">
                    <a href="/vente" style="font-size: 0.8rem;">Vetements femmes</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="15px" alt="" >
                    <a href="/sac" style="font-size: 0.8rem;">Chaussures H & F</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="15px" alt="">
                    <a href="/montre" style="font-size: 0.8rem;">Montres</a>
                </div>
                <div class="etdjff">
                    <img src="{{url_for('static', filename='IMAGE/tle.png')}}"  width="15px" alt="">
                    <a href="/#contace" style="font-size: 0.8rem;">Contacts</a>
                </div>
            </div>
        </div>
    </div>
    <header>
       <div class="hedaf">
            <div class="logo">
                <div class="tete">
                    <div class="te1">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 2rem;color: rgb(36, 36, 116);
                   ;font-size: 1.1rem; ">HING<span id="deuxlogo">TON SHOP</span></h1>
                    </div>
                    
                    
                   
                   
                </div>
            </div>
            <div class="recherche">
                <form action="/mesrecherches" method="post" id="hjdsd">
                    <div class="imsdghde">
                        <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                    </div>
                    <input type="text" name="recher" id="" placeholder="Cherchez un produit">
                    <button type="submit">RECHERCHER</button>
                </form>
            </div>
            
            <div class="menu">
                <div class="imsdghde1">
                    <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                </div>
                <div class="imsdghde12">
                    <img src="{{url_for('static', filename='IMAGE/recdgdg.png')}}"  width="20px" alt="">
                </div>
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}"  width="20px" alt="" id="hdhdj">
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}"  width="20px" alt="" id="hdhdj2">
            </div>
        </div>
       
    </header>
    <div class="testudjkcld">
    <div class="hdueu">

    </div>
    <div class="monfixder">
        <div  class="blueusw">
            <div class="croix">
                
            </div>
            <div class="retse">
               
                
                <a href="/vente" style="text-decoration: none;">
                    <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span style="color: orangered;">Vetements femmes </span></p>
                </a>
                <!-- <a href="/hommes">
                    <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
                </a> -->
               
                <a href="/sac">
            
                    <p ><img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="20px" alt="" > <span >Chaussures H & F</span></p>
                  
                </a>
                
                <a href="/montre">
                    <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
                </a>
                
                
               
               
            
            </div>
        </div>
    </div>
    
    <div class="monfix">
        <div class="croix">
            <div class="croi" >
                <img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="30px" alt="">
            </div>
        </div>
        <div class="retse">
            <div class="menu">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;
                ">MENU</h1>
            </div>
            
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span style="color: orangered;">Vetements femmes </span></p>
            </a>
            <!-- <a href="/hommes" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a> -->
            
            <a href="/sac" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/shoe.png')}}" width="20px" alt=""> <span >Chaussures h & F</span></p>
            </a>
            <a href="/montre" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
            
            
            
            
            <a href="/#contace" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/tle.png')}}" width="20px" alt=""> <span>Contactez - nous ! </span></p>
            </a>
        </div>
    </div>

    <div class="ente">
        
        <div class="tete">
            <div class="te1">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 2rem;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
            </div>
            <div class="te2" >
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
            
           
           
        </div>
        <div class="entete">
            <!-- <form action="" method="post" id="formulaire">
                <input type="text" id="input" placeholder="Recherche ton article" style="color: black;">
                <button id="bouton">Recherche</button>
            </form> -->
            <div class="mennn">
                <nav>
                    <ul>
                        
                        <li>
                            
                            
                            
                            <div >
                                <a href="/" id="home">Home</a>
                            </div>
                        </li>
                        <li>
                            <a href="/#contace" id="contact">Contacts</a>
                        </li>
                        <li>
                            <div class="menue">
                                <a href="#" class="menue" id="cleud">> Toutes categories</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- <div class="lesimages">
        
        <div class="imageim">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;color: white;padding-bottom: 20px;padding-top: 10px;
            ">DETAILS SUR CET ARTICLE </h1>
            <p style="text-align: center;color: rgb(189, 189, 189);padding-top: 20px;padding-left: 20px;padding-right: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis! Tempore qui quisquam explicabo veniam modi </p>
            <div class="inform">
                <div class="principal_image">
                    {% if user %}
            
                    <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
               
                    {% endif %}
                </div>
                <div class="second_image">
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho3.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                </div>
            </div>
           
           
            <div class="autre">
                <div class="appel1">
                    <p>Taille de l'article : {{user.description}} commander via Whatsapp !!!</p>
                </div>
                <div class="appel2">
                    {% if user %}
                    <form action="/ssm/{{user.id}}" method="post">
                       
                        <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        
           
    </div> 
     -->

    <div class="artivles">
        <div class="redux">
            <!-- <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;">-20%</h1> -->
        </div>
        <div class="vetemm">
            {% if data[0] %}
            <div class="ecran" style="width: 100% ; height: 80%; box-shadow: 1px 1px 3px 2px rgba(181, 181, 181, 0.336);">
               <img src="{{url_for('static', filename='uploads/' + data[0])}}" alt="" id="ecran" width="100%" height="100%">

            </div>
            
            
       
            {% endif %}
            {% if user.porce != '0' %}
            <div class="gdhd">
               
                <span>
                    <p style="color: orangered;padding-left: 5px;padding-right: 5px;">- {{user.porce}} %</p>
                </span>
                
            </div>
            {% endif %}
            
            <div class="resteDeImage">
                {% if data[0] != 'vide' %}
                <div class="restepres" id="image0">
                    <input type="text" id="image0Input" value="{{data[0]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[0])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[1] != 'vide' %}
                <div class="restepres" id="image1">
                    <input type="text" id="image1Input" value="{{data[1]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[1])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[2]!= 'vide' %}
                <div class="restepres" id="image2">
                    <input type="text" id="image2Input" value="{{data[2]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[2])}}" width="100%" height="100%"  alt="">
                </div>
                {% endif %}
                {% if data[3] != 'vide' %}
                <div class="restepres" id="image3">
                    <input type="text" id="image3Input" value="{{data[3]}}">
                    <img src="{{url_for('static', filename='uploads/' + data[3])}}" width="100%" height="100%"  alt="">

                </div>
                {% endif %}
            </div>
        </div>
        
        <div class="infoeisd">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;color: rgb(36, 36, 116);text-transform: uppercase;padding-bottom: 10px;">{{user.nom}}</h1>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: orangered;text-transform: uppercase;">
                {% if user.porce != '0' %}
                <span>
                    <s style="color: black;">{{user.prix}} FCFA</s>
                </span>
                {% endif %}
                
                {{user.porceprix}} FCFA
            
            </h1>
            <div class="livarsipn">
                <img src="{{url_for('static', filename='IMAGE/livarsin.png')}}" width="40px" height="40px"  alt="">
                <p style="color: green;background-color: rgba(220, 220, 220, 0.49);padding: 5px;display: flex;align-items: center;">Livraison gratuite </p>
            </div>


            <input type="text" name="" id="couterw" style="width: 0;height: 0;border: none;"  value="{{user.porceprix}}">
            <!-- <p id="couterw"></p> -->
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 15px;">DESCRIPTION DE L'ARTICLE</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;">{{user.description}} </p>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 15px;">COULEUR</h1>
            <div class="cerfsd">
                <!-- LA COULEUR VIENT AVEC LE POSTE -->
                {% if user.noir == 'noir' %}
                <div class="colornoir">
                    
                </div>
                {% endif %}
                
                {% if user.rouge == 'rouge' %}
                <div class="colorrouge">
                    
                </div>
                
                {% endif %}
                {% if user.bleu == 'bleu' %}
                <div class="colorbleu">

                </div>
                {% endif %}
                {% if user.jaune == 'jaune' %}
                <div class="coloryello">
                    
                </div>
                {% endif %}
                {% if user.vert == 'vert' %}
                <div class="colorgreen">

                </div>
                {% endif %}
                {% if user.orange == 'orange' %}
                <div class="colororange">
                    
                </div>
                {% endif %}
                {% if user.rose == 'rose' %}
                <div class="colorrose">

                </div>
                {% endif %}
                {% if user.blanc == 'blanc' %}
                <div class="colorblanc">
                    
                </div>
                {% endif %}
                {% if user.marron == 'marron' %}
                <div class="colormarron">
                    
                </div>
                {% endif %}
                {% if user.violet == 'violet' %}
                <div class="colorviolet">
                    
                </div>
                {% endif %}
                {% if user.gris == 'gris' %}
                <div class="colorgris">
                    
                </div>
                {% endif %}
               
            </div>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 15px;">TAILLE</h1>
            <div class="cerfsd2">
                
                <!-- IF user.description # TOI -->
                {% if user.s == 's' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">S</p>
                </div>
                {% endif %}
                {% if user.xl == 'xl' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XL</p>
                </div>
                {% endif %}
                {% if user.xxl == 'xxl' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                {% endif %}
                {% if user.xs == 'xs' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XS</p>
                </div>
                {% endif %}
                {% if user.m == 'm' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">M</p>
                </div>
                {% endif %}
                {% if user.l == 'l' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                {% endif %}
                
                
                <!-- <div class="rodewq33">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                
                <div class="rodewq44">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">MX</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XL</p>
                </div> -->
            </div>
            <a href="#formuhfh1">
            <div class="commande">
                <div class="regle">

                    <p id="moins">-</p>
                    <input type="text" value="0" style="width: 15px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" id="numeric">
                  
                    <p id="plus">+</p>
                </div>
               
                <button class="bouto" type="submit">COMMANDER ICI</button>
                <!-- {% if user %}
                <form action="/ssm/{{user.id}}" method="post">
                   
                    <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                </form>
                {% endif %} -->
            </div>
            </a>
          
            <!-- <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;padding-top: 15px;">Description</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;padding-bottom: 30px;">{{user.description}} </p> -->
        </div>
    </div>





    <div class="formuhfh">
        <form method="post" action="/ssm/{{user.id}}" 
        enctype="multipart/form-data"  id="formuhfh1">
        <p style="padding-top: 20px;text-align: center;color: rgb(36, 36, 116);padding-left: 20px;font-weight: bolder;font-size: 1.2rem;padding-bottom: 20px;padding-right: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">COMMANDER MAINTENANT
        </p>
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul style="text-align: center;">
                        {% for message in messages %}
                        <li style="list-style-type: none;"> <p style="color: red;font-size: 0.8rem;padding-bottom: 20px;">{{ message }}</p></li>
                        {% endfor %}
                    </ul>
                    
                {% endif %}
            {% endwith %}
          
            
            <div  class="commandewe">
                <!-- <div class="regle">
    
                    <p id="moins">-</p>
                    <input type="text" value="0" style="width: 15px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" id="eeecran" name="eeecran">
                  
                    <p id="plus">+</p>
                </div> -->
                <!-- onclick="verif(user.id,somiu)" -->
                <button class="bouto" type="submit">
                    <img src="{{url_for('static', filename='IMAGE/awp.png')}}" width="25px" height="25px"  alt="" style="margin-right: 20px;">
                    COMMANDER MAINTENANT 
                </button>
                <!-- {% if user %}
                <form action="/ssm/{{user.id}}" method="post">
                   
                    <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>
    
                </form>
                {% endif %} -->
            </div>
            <div class="hqeerss">
              
                {% if user.xs == 'xs' %}
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">XS</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                    <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('xsnumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="xsnumq" name="xsnum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('xsnumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                    

                    </div>
                </div>
                {% endif %}
                {% if user.xl == 'xl' %}
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">XL</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                     <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('xlnumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="xlnumq" name="xlnum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('xlnumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                    

                    </div>
                </div>
                {% endif %}
                {% if user.xxl == 'xxl' %}
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">XXL</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                     <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('xxlnumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="xxlnumq" name="xxlnum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('xxlnumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                    

                    </div>
                </div>
                {% endif %}
                {% if user.l == 'l' %}
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">L</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                    <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('lnumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="lnumq" name="lnum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('lnumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                    

                    </div>
                </div>
                {% endif %}
                {% if user.s == 's' %}
               
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">S</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                    <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('snumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="snumq" name="snum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('snumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                    

                    </div>
                </div>
                {% endif %}
              
                {% if user.m == 'm' %}
                <div class="nombredexl">
                    <div class="nombredexltaille">
                        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1rem;color: black;">M</h1>
                        <p style="font-size: 0.6rem;color: black;">Encore des articles restants</p>
                    </div>
                    <div class="nombredexlquant">
                        <div class="mmoiie" onclick="moinsp('mnumq')">
                            <p style="color: white;font-size: 2rem;">-</p>
                        </div>
                       
                        <div class="mmmoihfrd">
                            <input type="text" value="0" style="width: 50px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;" id="mnumq" name="mnum">
                        </div>
                        
                        <div class="mmoiie" onclick="plusp('mnumq')">
                            <p style="color: white;font-size: 2rem;" >+</p>
                        </div>
                       
                        

                    </div>
                </div>
                {% endif %}
            </div>
            <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 0.8rem;padding-top: 20px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;">Entrez votre nom <span style="color: red;">*</span></p>
            <input type="text" name="nom" id="livraison" placeholder="Ex : Kouassi Jacques Loic" required>
            <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 0.8rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;">Entrez le lieu complet de livraison <span style="color: red;">*</span></p>
            <input type="text" name="livraison" id="livraison" placeholder="Ex : Cocody - Vers la Paroisse Saint Jean" required>
            <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 0.8rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;">Entrez votre numero de telephone <span style="color: red;">*</span></p>
            <input type="number" class="mjdg" name="numero" inputmode="numeric" min="0" id="livraison" placeholder="Ex : +225 0102030405 / +225 0908070603" required>
            
            <!-- <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 0.8rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;">Entrez votre code de reduction </p>
            <input type="text" name="numero" id="livraison" placeholder="Ex : 34RSbv56G" required> -->
            <input type="text" name="prix" id="livraison" placeholder="numero" value="{{user.porceprix}}" style="visibility: hidden;">
            <input type="text" name="quantiteplos" id="quantiteplos" placeholder="numero" value="0" style="visibility: hidden;">
            <div class="pierteer">
                <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 1rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;">QTE TOTAL : </p>
                <p id="somiu" style="text-align: start;padding-left: 20px;color: orangered;font-size: 1.4rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;">0</p>
                <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 1rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;"> X </p>
                <p id="somiu" style="text-align: start;padding-left: 20px;color: orangered;font-size: 1.4rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;">{{user.porceprix}}</p>
                <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 1rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;"> FCFA</p>
                
            </div>
            <div class="pierteer">
                <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 1rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;">COUT TOTAL : </p>
                <p id="lepris" style="text-align: start;padding-left: 20px;color: orangered;font-size: 1.4rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;">0</p>
                <p style="text-align: start;padding-left: 20px;color: rgb(36, 36, 116);font-size: 1rem;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-bottom: 10px;font-weight: bolder;padding-top: 20PX;"> FCFA</p>
            </div>
            
            
           
            
        </form>
        
           
    </div>
    <div class="jjhfsdf54">
        <div class="jdudu">
            <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 10px;color: black;padding-left: 40px;">Vous aimez peut-etre ceux ci aussi .</p>
        </div>
    </div>
<!-- listedeselemet -->
<div class="listedeselements">
    <div class="grsgjd">
        <div class="flevdh1">
           
            <img src="{{url_for('static', filename='IMAGE/sup.png')}}"  width="30px" alt="" >
        </div>
        <div class="listedeselements1">
            {% for i in commenta %}
            <a href="/info/{{i.id}}">
                <div class="uneldd">
                    <div class="imahhd">
                        <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="100%"  alt="">
                        <div class="reghd">
                            {% if i.porce != "0" %}
                            <p style="color: orangered;font-size: 0.7rem;padding-left: 5px;padding-right: 5px;">- {{i.porce}} %</p>
                            {% endif %}
                        </div>
                    </div>
                    <p style="font-size: 0.9rem;padding-top: 5px;color: black;">{{i.nom}}</p>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 5px;color: black;">{{i.porceprix}} FCFA</p>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 5px;color: rgb(53, 53, 53);"><s>{{i.prix}} FCFA</s></p>

                </div>
            </a>
            {% endfor %}
            {% if not commenta[5] %}
            {% for i in commenta %}
            <a href="/info/{{i.id}}">
                <div class="uneldd">
                    <div class="imahhd">
                        <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="100%"  alt="">
                        <div class="reghd">
                            {% if i.porce != "0" %}
                            {% if i.porce != "0" %}
                            <p style="color: orangered;font-size: 0.7rem;padding-left: 5px;padding-right: 5px;">- {{i.porce}} %</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <p style="font-size: 0.9rem;padding-top: 5px;color: black;">{{i.nom}}</p>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;padding-top: 5px;color: black;">{{i.porceprix}} FCFA</p>
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 5px;color: rgb(53, 53, 53);"><s>{{i.prix}} FCFA</s></p>

                </div>
            </a>
            {% endfor %}
            {% endif %}
           
        </div>
        <div class="flevdh1">
            <img src="{{url_for('static', filename='IMAGE/inf.png')}}"  width="30px" alt="" >
        </div>
    </div>
    
</div>
<!-- listedeselemet -->
    <!-- <footer id="foot">
        <header id="head">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
         -->
    <!-- </footer> -->



    <!-- <div class="sty">

    </div> -->
    <!-- <footer id="foot">
        <header id="head">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
        
    </footer> -->
    <footer id="foot" >
        <div id="head" >
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </div>
        
        
    </footer>
    </div>
    <script src="/static/CSS/article.js"></script>
</body>
</html>