<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>
    <link rel="shortcut icon" href="static/IMAGES/blaye.jpeg">    
    <link rel="stylesheet" href="/static/CSS/moood.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;color: white;
    ">HING<span id="deuxlogo">TON SHOP</span></h1>
    </header>
    <h1 style="font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;font-size: 2rem;text-align: center;
    ">MODIFICATION</h1>
    <form action="/mofie/{{id}}" method="POST" class="modiieewe" id="section">

        <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">- Quelles sont les couleurs des articles ?</p>

        <div class="inputcouleu">
            <input type="checkbox" name="rouge" id="rouge" value="rouge">
            <input type="checkbox" name="jaune" id="jaune" value="jaune">
            <input type="checkbox" name="vert" id="vert" value="vert">
            <input type="checkbox" name="orange" id="orange" value="orange">
            <input type="checkbox" name="marron" id="marron" value="marron">
            <input type="checkbox" name="gris" id="gris" value="gris">
            <input type="checkbox" name="noir" id="noir" value="noir">
            <input type="checkbox" name="violet" id="violet" value="violet">
            <input type="checkbox" name="rose" id="rose" value="rose">
            <input type="checkbox" name="bleu" id="bleu" value="bleu">
            <input type="checkbox" name="blanc" id="blanc" value="blanc">
            
        </div>
        
        <div class="rangerpre">
            
            <label for="rouge">
                <div class="coloope" style="background-color: #ff0000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(11%) sepia(95%) saturate(7479%) hue-rotate(7deg) brightness(108%) contrast(120%);">
            
                    
                </div>
            </label>

            <label for="vert">
                <div class="coloope" style="background-color: #008000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(29%) sepia(69%) saturate(1418%) hue-rotate(89deg) brightness(100%) contrast(105%);">
            
                    
                </div>
            </label>
            <label for="jaune">
                <div class="coloope" style="background-color: #a5a515;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(60%) sepia(19%) saturate(1860%) hue-rotate(21deg) brightness(100%) contrast(84%);">
            
                    
                </div>
            </label>

            <label for="orange">
                <div class="coloope" style="background-color: #ff7300;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(52%) sepia(36%) saturate(5712%) hue-rotate(1deg) brightness(105%) contrast(103%);">
            
                    
                </div>
            </label>
            <label for="marron">
                <div class="coloope" style="background-color: #573214;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(17%) sepia(82%) saturate(472%) hue-rotate(346deg) brightness(95%) contrast(93%);">
            
                    
                </div>
            </label>
            <label for="gris">
                <div class="coloope" style="background-color: #808080;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(49%) sepia(6%) saturate(3%) hue-rotate(89deg) brightness(100%) contrast(89%);">
            
                    
                </div>
            </label>

            <label for="noir">
                <div class="coloope" style="background-color: #000000;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" >
            
                    
                </div>
            </label>
            <label for="violet">
                <div class="coloope" style="background-color: #800080;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(13%) sepia(76%) saturate(3903%) hue-rotate(290deg) brightness(85%) contrast(117%);">
            
                    
                </div>
                
            </label>

            
            <label for="rose">
                <div class="coloope" style="background-color: #d87093;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(84%) sepia(22%) saturate(6639%) hue-rotate(294deg) brightness(86%) contrast(97%);">
            
                    
                </div>
            </label>
            <label for="bleu">
                <div class="coloope" style="background-color: #0000ff;">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(8%) sepia(96%) saturate(6156%) hue-rotate(245deg) brightness(122%) contrast(139%);">
            
                    
                </div>
            </label>
            <label for="blanc">
                <div class="coloope" style="background-color: #bebdbd">
                    <img src="{{url_for('static', filename='IMAGE/chets.png' )}}" width=" 100%" alt="" style="filter: invert(63%) sepia(88%) saturate(0%) hue-rotate(188deg) brightness(100%) contrast(95%);

                    ">
            
                    
                </div>
            </label>
        </div>
        <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">- Quelles sont les tailles des articles ?</p>


        <div class="inputcouleu">
            <input type="checkbox" name="xs" id="xs" value="xs">
            <input type="checkbox" name="l" id="l" value="l">
            <input type="checkbox" name="m" id="m" value="m">
            <input type="checkbox" name="xl" id="xl" value="xl">
            <input type="checkbox" name="s" id="s" value="s">
            <input type="checkbox" name="xxl" id="xxl" value="xxl">
            
        </div>
        <div class="rangerpre">
            
            
            <label for="xs">
                <div class="coloope" id="retyeye">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xs</p>
                </div>
            </label>
            <label for="l">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">l</p>
                </div>
            </label>
            <label for="m">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">m</p>
                </div>
            </label>
            <label for="xl">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xl</p>
                </div>
            </label>
            <label for="xxl">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">xxl</p>
                </div>
            </label>
            <label for="s">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">s</p>
                </div>
            </label>
        </div>
        <p style="text-align: center;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;">- Quelles sont les tailles des articles ?</p>
        <div class="inputcouleu">
            <input type="checkbox" name="tranwite" id="tranwite" value="38">
            <input type="checkbox" name="tranneuf" id="tranneuf" value="39">
            <input type="checkbox" name="karente" id="karente" value="40">
            <input type="checkbox" name="tranwiteun" id="tranwiteun" value="41">
            <input type="checkbox" name="tranwitedeux" id="tranwitedeux" value="42">
            <input type="checkbox" name="tranwitrois" id="tranwitrois" value="43">
            <input type="checkbox" name="tranwitekate" id="tranwitekate" value="44">
            
        </div>
        <div class="rangerpre">
            
            
            <label for="tranwite">
                <div class="coloope" id="retyeye">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">38</p>
                </div>
            </label>
            <label for="tranneuf">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">39</p>
                </div>
            </label>
            <label for="karente">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">40</p>
                </div>
            </label>
            <label for="tranwiteun">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">41</p>
                </div>
            </label>
            <label for="tranwitedeux">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">42</p>
                </div>
            </label>
            <label for="tranwitrois">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">43</p>
                </div>
            </label>
            <label for="tranwitekate">
                <div class="coloope">
                    <p style="text-align: center;color: black;font-size: 0.8rem;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;">44</p>
                </div>
            </label>
        </div>
        <p style="text-align: start;color: white;font-size: 0.8rem;padding-top: 20px;font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif;padding-bottom: 10px;padding-left: 50px;">Reduction du prix du produit en % !</p>
        <div class="formuwpiie">
            <input type="text" name="porce" id="" placeholder="Prix du produit">
        </div>

        <div class="bshds">
            <button type="submit">MODIFIER</button>
        </div>
        
    </form>
    <script src="/static/CSS/ajout.js"></script>
</body>
</html>