<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
        <h1 id="logo">HING<span id="logo1">TON SHOP</span></h1>


    </header>
    <label for="selectOption">Choisissez la categorie :</label>
            
    <select id="selectOption" name="selectOptione">
        <option value="Sac">Sac</option>
        <option value="Vetement">Vetement</option>
        <option value="Fourniture">Livre</option>
    </select> 
    
    
    <div class="info">
        
        <div class="image">
            {% for i in data %}
            
            <a href="/info/{{i.id}}" class="image1">
                <img src="{{url_for('static', filename='uploads/' + i.image)}}" width="100%" height="100%" alt="">
                
               
            </a>
            
            {%endfor%}
            
            
           
            
            
        </div>
    </div>
    <footer>
        <div class="log">
            <div class="al">
                <img src="{{ url_for('static', filename='IMAGE/logo.jpg')}}" width="50px" alt="">
                <h1 id="logo" >HING<span id="logo1">TON SHOP </span></h1>
            </div>
            
            <p style="color: white;">Vous remercie !</p>
        </div>
        
        <div class="log1">
            
            <div class="log11">
                <a style="text-decoration: none;" href="https://api.whatsapp.com/send/?phone=22578587708&text='salut hington'&type=phone_number&app_absent=0">
                    <img src="{{ url_for('static', filename='IMAGE/whats.png')}}" width="20px" style="filter: invert();" alt="">
                </a>
            </div>
            <div class="log12">
                <img src="{{ url_for('static', filename='IMAGE/face.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
            <div class="log13">
                <img src="{{ url_for('static', filename='IMAGE/instag.png')}}" width="20px" style="filter: invert();" alt="">
            </div>
        </div>
    </footer>
    

    <div class="tesf">
        <div class="pidijd">
            {% if user %}
            
                <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
           
            {% endif %}
        </div>
        <div class="descf">
            <p>Taille : <span>{{user.description}}</span></p>

        </div>
        <div class="text">
            {% if user %}
            <form action="/ssm/{{user.id}}" method="post">
                <button type="submit" id="but"><img src="{{ url_for('static', filename='IMAGE/whats.png')}}" style="filter: invert();" width="25px" alt="">COMMENDE WHATSAPP !</button>
            </form>
            
            
            {% endif %}
        </div>
        <a href="/vente">
            <div class="bac">
                <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
        </a>
    </div>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    
</head>
<body>
    <a href="/vente">
        <div class="bac">
            <img src="{{ url_for('static', filename='IMAGE/bacj.png')}}" style="filter: invert();" width="20px" alt="">
        </div>
    </a>
    <div class="monfixder">
        <div class="croix">
            
        </div>
        <div class="retse">
           
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/indisponible">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a>
            <a href="/indisponible">
                <p ><img src="{{url_for('static', filename='IMAGE/sacfem.png')}}" width="20px" alt=""> <span>Sacs femmes </span></p>
            </a>
            <a href="/indisponible">
                <p ><img src="{{url_for('static', filename='IMAGE/sachomme.png')}}" width="20px" alt=""> <span>Sacs hommes </span></p>
            </a>
            
            <a href="/indisponible">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
           
        
        </div>
    </div>
    <div class="monfix">
        <div class="croix">
            <div class="croi" >
                <img src="{{url_for('static', filename='IMAGE/croix.png')}}" style="filter: invert();" width="30px" alt="">
            </div>
        </div>
        <div class="retse">
            <div class="menu">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;
                ">MENU</h1>
            </div>
            
            
            <a href="/vente" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/indisponible" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habihomme.png')}}" width="20px" alt=""> <span>Vetements hommes </span></p>
            </a>
            <a href="/indisponible" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/habifeme.png')}}" width="20px" alt=""> <span>Vetements femmes </span></p>
            </a>
            <a href="/indisponible" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/sacfem.png')}}" width="20px" alt=""> <span>Sacs femmes </span></p>
            </a>
            <a href="/indisponible" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/montre.png')}}" width="20px" alt=""> <span>Montres </span></p>
            </a>
            
            
           
            
            
            
            
            <a href="/#contace" style="text-decoration: none;">
                <p ><img src="{{url_for('static', filename='IMAGE/tle.png')}}" width="20px" alt=""> <span>Contactez - nous ! </span></p>
            </a>
        </div>
    </div>

    <div class="ente">
        
        <div class="tete">
            <div class="te1">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 2rem;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
            </div>
            <div class="te2" >
                <img src="{{url_for('static', filename='IMAGE/menu.png')}}" style="filter: invert();" width="20px" alt="">
            </div>
            
           
           
        </div>
        <div class="entete">
            <!-- <form action="" method="post" id="formulaire">
                <input type="text" id="input" placeholder="Recherche ton article" style="color: black;">
                <button id="bouton">Recherche</button>
            </form> -->
            <div class="mennn">
                <nav>
                    <ul>
                        
                        <li>
                            
                            
                            
                            <div >
                                <a href="#" id="home">Home</a>
                            </div>
                        </li>
                        <li>
                            <a href="/#contace" id="contact">Contacts</a>
                        </li>
                        <li>
                            <div class="menue">
                                <a href="#" class="menue" id="cleud">> Toutes categories</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- <div class="lesimages">
        
        <div class="imageim">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;color: white;padding-bottom: 20px;padding-top: 10px;
            ">DETAILS SUR CET ARTICLE </h1>
            <p style="text-align: center;color: rgb(189, 189, 189);padding-top: 20px;padding-left: 20px;padding-right: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, officiis! Tempore qui quisquam explicabo veniam modi </p>
            <div class="inform">
                <div class="principal_image">
                    {% if user %}
            
                    <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
               
                    {% endif %}
                </div>
                <div class="second_image">
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho3.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                    <div class="unper">
                        <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" width="100%" height="100%"  alt="">

                    </div>
                </div>
            </div>
           
           
            <div class="autre">
                <div class="appel1">
                    <p>Taille de l'article : {{user.description}} commander via Whatsapp !!!</p>
                </div>
                <div class="appel2">
                    {% if user %}
                    <form action="/ssm/{{user.id}}" method="post">
                       
                        <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        
           
    </div> 
     -->

    <div class="artivles">
        <div class="redux">
            <!-- <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;">-20%</h1> -->
        </div>
        <div class="vetemm">
            {% if user %}
            
            <img src="{{url_for('static', filename='uploads/' + user.image)}}" width="100%" height="100%" alt="">
       
            {% endif %}
        </div>
        <div class="infoeisd">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;">{{user.nom}}</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;">{{user.description}} </p>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 15px;">COULEUR</h1>
            <div class="cerfsd">
                <!-- LA COULEUR VIENT AVEC LE POSTE -->
                {% if user.couleur == 'NOIR' %}
                <div class="colornoir">
                    
                </div>
                {% endif %}
                {% if user.couleur == 'ROUGE' %}
                <div class="rodewq2">

                </div>
                {% endif %}
                {% if user.couleur == 'ROUGE' %}
                <div class="colorrouge">
                    
                </div>
                
                {% endif %}
                {% if user.couleur == 'BLEU' %}
                <div class="colorbleu">

                </div>
                {% endif %}
                {% if user.couleur == 'JAUNE' %}
                <div class="coloryello">
                    
                </div>
                {% endif %}
                {% if user.couleur == 'VERT' %}
                <div class="colorgreen">

                </div>
                {% endif %}
                {% if user.couleur == 'ORANGE' %}
                <div class="colororange">
                    
                </div>
                {% endif %}
                {% if user.couleur == 'ROSE' %}
                <div class="colorrose">

                </div>
                {% endif %}
                {% if user.couleur == 'BLANC' %}
                <div class="colorblanc">
                    
                </div>
                {% endif %}
                {% if user.couleur == 'GRIS' %}
                <div class="colorgris">
                    
                </div>
                {% endif %}
               
            </div>
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;padding-top: 15px;">TAILLE</h1>
            <div class="cerfsd2">
                
                <!-- IF user.description # TOI -->
                {% if user.taille == 'S' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">S</p>
                </div>
                {% endif %}
                {% if user.taille == 'MX' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">MX</p>
                </div>
                {% endif %}
                {% if user.taille == 'XL' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XL</p>
                </div>
                {% endif %}
                {% if user.taille == 'XXL' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                {% endif %}
                {% if user.taille == 'XS' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XS</p>
                </div>
                {% endif %}
                {% if user.taille == 'M' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">M</p>
                </div>
                {% endif %}
                {% if user.taille == 'L' %}
                <div class="rodewq22">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                {% endif %}
                
                
                <!-- <div class="rodewq33">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">L</p>
                </div>
                
                <div class="rodewq44">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XXL</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">MX</p>
                </div>
                
                <div class="rodewq55">
                    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 0.7rem;">XL</p>
                </div> -->
            </div>
          
            <form method="post" action="/ssm/{{user.id}}" enctype="multipart/form-data" class="commande">
                <div class="regle">

                    <p id="moins">-</p>
                    <input type="text" value="0" style="width: 15px;border: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" id="numeric">
                  
                    <p id="plus">+</p>
                </div>
               
                <button class="bouto" type="submit">COMMANDE ICI</button>
                <!-- {% if user %}
                <form action="/ssm/{{user.id}}" method="post">
                   
                    <button> <img src="{{url_for('static', filename='IMAGE/awp.png')}}" alt="" width="20px"> Commande via WHATSAPP !</button>

                </form>
                {% endif %} -->
            </form>
               
          
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.2rem;padding-top: 15px;">Description</h1>
            <p style="padding-top: 15px;font-size: 0.7rem;padding-bottom: 30px;">{{user.description}} </p>
        </div>
    </div>
    <div class="vtefemmes">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: start;padding-bottom: 50px;
        color: rgb(36, 36, 116);padding-left: 20px;">IMAGES SIMILAIRES</h1>
    </div>
    <div class="afficje">
        
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho1.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho3.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho1.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho2.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
        <div class="b1">
            <div class="pheorf">
                <img src="{{url_for('static', filename='IMAGE/pho3.jpg')}}" height="100%"  width="100%" alt="">
            </div>
            <div class="pheorf2">
                <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:0.8rem;
        color: rgb(36, 36, 116);">Q23TY</h1>
            </div>

        </div>
       
    </div>
    <footer id="foot">
        <header id="head">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
        
    </footer>
    <!-- <footer id="foot">
        <header id="head">
            <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 1.5rem;text-align: center;padding-bottom: 30px;padding-top: 10px;color: white;
            ">HING<span id="deuxlogo">TON SHOP</span></h1>
        </header>
        <p >Nous sommes une boutique de vente en ligne ...</p>
        
    </footer> -->
    <script src="/static/CSS/front.js"></script>
</body>
</html>